<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Detalhes da Atividade</title>

</head>
<body>

<h2>Detalhes da Atividade</h2>

<table>
    <thead>
        <tr>
            <th>nome</th>
            <th>matricula</th>
            <th>turma</th>
       
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.matricula }}</td>
            
            
          
        </tr>
    </tbody>
</table>

<a href="/aluno/" class="btn-voltar">Voltar</a>

</body>
</html>
