 {% load static %}
  <!-- Sidebar scroll-->
      <div>
            <i class=" fs-6"></i>
          
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
              <span class="hide-menu">Início</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/aluno/" aria-expanded="false">
                <i class="ti ti-user-circle"></i>
                <span class="hide-menu">Alunos</span>
              </a>
            </li>
            <li class="sidebar-item">
            <a class="sidebar-link" href="/turma/" aria-expanded="false">
              <i class="ti ti-users"></i>  <!-- Ícone de grupo/pessoas -->
              <span class="hide-menu">Turmas</span>
            </a>
          </li>
            <!-- ---------------------------------- -->
            <!-- Dashboard -->
            <!-- ---------------------------------- -->
            <li class="sidebar-item">
              <a class="sidebar-link justify-content-between"  
                href="/disciplina/" aria-expanded="false">
                <div class="d-flex align-items-center gap-3">
                  <span class="d-flex">
                    <i class="ti ti-book"></i>
                  </span>
                  <span class="hide-menu">Disciplinas</span>
                </div>
                
              </a>
            </li>
            <li class="sidebar-item">
            <a class="sidebar-link" href="/itemacademico/" aria-expanded="false">
              <i class="ti ti-file-text"></i>
              <span class="hide-menu">Itens Acadêmicos</span>
            </a>
          </li>
            
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->